In [ ]:
"D:\java repository\R5D5-Project-dev\model\ML_Model_Dataset_03\X_train03.csv"

In [4]:
import pandas as pd

# Load the player statistics data
player_stats = pd.read_csv("D:\java repository\R5D5-Project-dev\model\ML_Model_Dataset_03\X_train03.csv")

# Create a new column for the player ID
player_stats['player_id'] = ''

# Loop over each row and assign a unique player ID
current_id = 1
for i, row in player_stats.iterrows():
    player_stats.at[i, 'player_id'] = f'M02{current_id:05}'
    current_id += 1

# Save the updated dataset to a new CSV file
player_stats.to_csv('X_train03_with_id.csv', index=False)
player_stats.head()

,Rk,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,BLK,TOV,PF,PTS,Pos_C,Pos_PF,Pos_PG,Pos_SF,Pos_SG,player_id
0,17,25,6,0,19.8,3.2,7.3,0.432,1.3,4.2,...,0.2,1.2,1.5,8.5,0,0,0,0,1,M0200001
1,141,25,12,0,13.2,1.5,3.2,0.474,0.7,1.3,...,0.3,0.4,1.1,5.0,0,0,1,0,0,M0200002
2,58,33,22,18,34.7,9.2,20.0,0.459,4.1,10.4,...,0.4,2.6,2.7,27.4,0,0,1,0,0,M0200003
3,148,26,5,5,31.2,5.0,10.2,0.490,2.2,5.2,...,0.0,1.6,2.8,14.0,0,0,1,0,0,M0200004
4,164,27,13,0,13.2,1.7,5.7,0.297,0.4,2.3,...,0.1,1.0,1.9,4.2,0,0,1,0,0,M0200005

In [5]:
# Load the player statistics data
player_stats_sal = pd.read_csv("D:\java repository\R5D5-Project-dev\model\ML_Model_Dataset_03\y_train03.csv")

# Create a new column for the player ID
player_stats_sal['player_id'] = ''

# Loop over each row and assign a unique player ID
current_id = 1
for i, row in player_stats_sal.iterrows():
    player_stats_sal.at[i, 'player_id'] = f'M02{current_id:05}'
    current_id += 1

# Save the updated dataset to a new CSV file
player_stats_sal.to_csv('y_train03_with_id.csv', index=False)
player_stats_sal.head()

     salary player_id
0  0.059807  M0200001
1  0.027564  M0200002
2  1.000000  M0200003
3  0.031138  M0200004
4  0.000000  M0200005

In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

# Load the data sets
salary_df = pd.read_csv('y_train03_with_id.csv')
X_df = pd.read_csv('X_train03_with_id.csv')

# Merge the data sets
merged_df = pd.concat([X_df, salary_df], axis=1)

# Calculate the correlation between the variables
corr_matrix = merged_df.corr()

# Select the variables that are most correlated with salary
selected_features = corr_matrix["salary"].sort_values(ascending=False).head(10).index

# Create the X and y data sets
X = merged_df[selected_features]
y = merged_df["salary"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
model = LinearRegression()
model.fit(X_train, y_train)

# Test the model
y_pred = model.predict(X_test)

# Evaluate the model
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
print("R^2 Score: ", r2)
print("MSE: ", mse)

R^2 Score:  1.0
MSE:  2.288553644739874e-32

In [7]:
# Get the correlation matrix
corr_matrix = merged_df.corr()

# Get the absolute correlations with the target variable
corr_with_salary = abs(corr_matrix['salary'])

# Sort the features by correlation with salary
sorted_features = corr_with_salary.sort_values(ascending=False)

# Print the feature names with the highest correlations
print(sorted_features[1:11].index.tolist())

['AST', 'Age', 'DRB', 'TRB', 'TOV', '2PA', 'FGA', 'PTS', 'FG', 'FT']

In [8]:
# Get the correlation matrix
corr_matrix = merged_df.corr()

# Get the correlations with the target variable
corr_with_salary = corr_matrix['salary']

# Sort the features by correlation with salary
sorted_features = corr_with_salary.sort_values(ascending=False)

# Print the feature names with their correlation values
print(sorted_features[1:11])

AST    0.463858
Age    0.449003
DRB    0.431609
TRB    0.423046
TOV    0.417515
2PA    0.397819
FGA    0.381296
PTS    0.374281
FG     0.369348
FT     0.367357
Name: salary, dtype: float64

In [9]:
# Get the correlation matrix
corr_matrix = merged_df.corr()

# Get the correlations with the target variable
corr_with_salary = corr_matrix['salary']

# Sort the features by correlation with salary
sorted_features = corr_with_salary.sort_values(ascending=False)

# Print the feature names with their correlation values and descriptions
for feature, correlation in sorted_features[1:11].items():
    if correlation > 0.5:
        print(feature, "has a strong positive correlation with salary.")
    elif correlation > 0:
        print(feature, "has a positive correlation with salary.")
    elif correlation < -0.5:
        print(feature, "has a strong negative correlation with salary.")
    elif correlation < 0:
        print(feature, "has a negative correlation with salary.")

AST has a positive correlation with salary.
Age has a positive correlation with salary.
DRB has a positive correlation with salary.
TRB has a positive correlation with salary.
TOV has a positive correlation with salary.
2PA has a positive correlation with salary.
FGA has a positive correlation with salary.
PTS has a positive correlation with salary.
FG has a positive correlation with salary.
FT has a positive correlation with salary.

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import r2_score, mean_squared_error

# Load the data sets
salary_df = pd.read_csv('y_train03_with_id.csv')
X_df = pd.read_csv('X_train03_with_id.csv')

# Merge the data sets
merged_df = pd.concat([X_df, salary_df], axis=1)

# Get the top 6 features with the highest correlation with salary
top_features = ['AST', 'Age', 'DRB', 'TRB', 'TOV', '2PA']

# Create the X and y data sets
X = merged_df[top_features]
y = merged_df["salary"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
model = GradientBoostingRegressor(random_state=42)
model.fit(X_train, y_train)

# Test the model
y_pred = model.predict(X_test)

# Evaluate the model
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
print("R^2 Score: ", r2)
print("MSE: ", mse)

R^2 Score:  0.7203355457463771
MSE:  0.018286461235536674